.wrapper_content {
    width: 1200px;
    margin: 60px auto 0;
    padding-bottom: 15px;
}
.user_bindSidebar {
    width: 232px;
}

.user_bindSidebar {
    width: 232px;
    float: left;
    margin-left: 150px;
}
.user_sideBarmenu {
    border-right: 1px solid #E3EBE9;
    text-align: right;
    line-height: 40px;
}
.user_sideBarmenu li a.hover_ac, .user_sideBarmenu li a:hover {
    border-right: 2px solid #00b38a;
    padding-right: 28px;
    color: #00b38a;
}

.user_sideBarmenu li a {
    color: #777;
    font-size: 14px;
    display: block;
    padding-right: 30px;
}
.user_userinfo_content1 {
    float: left;
    width: 580px;
    margin-left: 120px;
    position: relative;
}
.userinfo_edit #userinfoEditForm {
    display: none;
}
.c_section {
    margin-bottom: 40px;
    position: relative;
}
.userinfo_edit {
    width: 400px;
}
.userinfo_edit .hadInfo {
    position: relative;
    text-align: center;
}
.userinfo_edit .hadInfo .edit_link {
    text-align: left;
    position: absolute;
    left: 50%;
    top: 2px;
    margin-left: 70px;
    padding-left: 20px;
    line-height: 18px;
    color: #00b38a;
    font-size: 16px;
    background: url(../images/icon-editf.png) no-repeat left center;
    cursor: pointer;
}
.userinfo_edit .avatar, .userinfo_edit .view_avatar {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    overflow: hidden;
    border-radius: 50%;
}
.userinfo_edit .hadInfo .view_nickname {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}
.userinfo_edit .hadInfo .view_nickname span {
    display: inline-block;
    vertical-align: middle;
}
.userinfo_edit .hadInfo .man {
    background: url(../images/icon-man.png) no-repeat;
}
.userinfo_edit .hadInfo .icon-gender {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.userinfo_edit .hadInfo .view_position {
    color: #555;
    font-size: 14px;
    margin-top: 10px;
}
.userinfo_edit .hadInfo .view_introduce {
    color: #555;
    font-size: 14px;
    margin: 12px 0 40px;
}
.userinfo_edit .avatar, .userinfo_edit .view_avatar {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    overflow: hidden;
    border-radius: 50%;
}
.userinfo_edit .avatar img {
    display: block;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.userinfo_edit .avatar_upload {
    display: none;
}
.userinfo_edit .input_box {
    margin-bottom: 20px;
    position: relative;
}
.userinfo_edit input[type=text], .userinfo_edit textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    margin-top: 0;
    padding: 12px 0;
    font-size: 14px;
    color: #555;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #ededed;
    transition: border .2s ease-in 0s;
}

input[type=text], input[type=password], textarea {
    font-family: "Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
}

input[type=text], input[type=password] {
    border: 2px solid #ededed;
    outline: 0;
    font: 20px/32px Arial,"Hiragino Sans GB","微软雅黑","宋体";
    width: 600px;
    height: 30px;
    padding: 6px 10px;
    margin-top: 20px;
    transition: border .2s ease-in 0s;
}
.userinfo_edit .userinfo_sex {
    height: 26px;
    line-height: 26px;
}
.magic-radio, .magic-checkbox {
    position: absolute;
    display: none;
}
.userinfo_edit .userinfo_sex .magic-radio:checked+label, .userinfo_edit .userinfo_sex .magic-checkbox:checked+label {
    color: #333;
}

.userinfo_edit .userinfo_sex .magic-radio+label, .userinfo_edit .userinfo_sex .magic-checkbox+label {
    margin-right: 40px;
    color: #555;
}

.magic-radio+label, .magic-checkbox+label {
    position: relative;
    display: inline-block;
    padding-left: 28px;
    margin-right: 20px;
    cursor: pointer;
    vertical-align: middle;
    font-size: 16px;
    line-height: 16px;
}
.userinfo_edit .toolbar .btn {
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    min-width: 66px;
    height: 30px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    border: 0;
    border-radius: 3px;
    background-color: #00b38a;
}
.userinfo_edit .tips {
    color: #999;
    margin-top: 12px;
    text-align: center;
}

.c_section .tips {
    color: #999;
    margin-top: 5px;
}
.magic-radio:checked+label:before {
    border: 1px solid #00b38a;
}
.magic-radio+label:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #00b38a;
}
.magic-radio+label:before, .magic-checkbox+label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 14px;
    height: 14px;
    content: '';
    border: 1px solid #ededed;
}
.magic-radio+label:before {
    border-radius: 50%;
}